@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HeaderFont;
  src: url("assets/header-font.ttf");
}

@font-face {
  font-family: Playfair;
  src: url("assets/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: WorkSans;
  src: url("assets/WorkSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: Lora;
  src: url("assets/Lora-VariableFont_wght.ttf");
}

@font-face {
  font-family: AnnieUseYourTelescope;
  src: url("assets/AnnieUseYourTelescope-Regular.ttf");
}

:root {
  font-family: Lora, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 17.5px;
  line-height: 1.8rem;
  font-weight: 400;

  box-sizing: border-box;
  overflow-x: hidden;

  color-scheme: light dark;
  color: #50586d;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
