@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.DEBUGGING_ONLY {
  outline: limegreen solid 1px;
  outline-style: dashed;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

/*
See links to change SVG color.
https://stackoverflow.com/a/53336754/20600987
https://codepen.io/sosuke/pen/Pjoqqp
*/
.white_svg {
  filter: invert(1);
}
